 /* #header,#footer {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
}
#nav{
background-color: blue;
    color: white;
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 0px 0px 0px;
    text-align: center;

}
ul li a {
    color: white;
    text-decoration: none;
    margin: 50px;;
}
ul li a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}  */
  /*navigation bar*/
  .container{
    border: 5px solid black;
  }
  .nav{
    background-color: rgb(202,202,238);
  }
  .nav-link{
    color: black;
  }
  .nav-link:hover, .nav-link.active{
    background: rgb(117,228,163);
  }